.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "title nav ." ". content side" ". content side";
}
  
.title {
    grid-area: title;
}

.title a h1 {
    font-weight: normal;
}

.title a h1:hover {
    font-weight: bold;
}
  
.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav pre *:hover {
    font-weight: bold;
    cursor: pointer;
}

#logout-form {
    display: inline;
}

#logout-form input {
    border: none;
    background-color: transparent;
    font-family: monospace;
    font-size: 1em;
}
  
.side {
    grid-area: side;
}
  
.content {
    grid-area: content;
}

textarea {
    width: 90%;
    height: 100%;
}

#save-form, #post-form {
    height: 100%;
}

.side a {
    color: blue;
}

.side a:hover {
    font-weight: bold;
}

.post {
    height: 25%;
}

#title {
    
}